absl-py
aiohttp
aiosignal
astor
astunparse
async-timeout
attrs
backcall
boto3
botocore
bottleneck
brotli
brotlipy
bz2file
cachetools
certifi
cffi
charset-normalizer
click
cryptography
cycler
dataclasses
debugpy
decorator
entrypoints
fonttools
frozenlist
gast
gensim
giflib
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
importlib-metadata
ipykernel
ipython
jedi
jmespath
joblib
jupyter_client
jupyter_core
keras
keras-preprocessing
kiwisolver
lcms2
libclang
libffi
libpng
libsodium
libtiff
libwebp
libxml2
markdown
matplotlib
mkl
numpy
oauthlib
openssl
opt_einsum
packaging
pandas
parso
pexpect
pickleshare
pillow
pip
prompt-toolkit
protobuf
ptyprocess
pyasn1
pyasn1-modules
pycparser
pygments
pyjwt
pyopenssl
pyparsing
pyqt
pysocks
python
python-dateutil
python-flatbuffers
pytz
pyzmq
readline
requests
requests-oauthlib
rsa
s3transfer
scikit-learn
scipy
setuptools
sip
six
smart_open
sqlite
stellargraph
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
tk
tornado
traitlets
typing-extensions
tzdata
urllib3
werkzeug
wheel
wrapt
yarl
zeromq
zipp
